<section class="wrapper site-min-height">
  <!-- page start-->
  <section class="panel">
    <header class="panel-heading">
      Prospection Guide
    </header>
    <div class="pull-right">
      <div class="col-lg-12">
        <div class="dataTables_filter" id="editable-sample_filter">
          <input type="search" aria-controls="editable-sample" (ngModelChange)="searchGuide(keys.value)" #keys="ngModel" ngModel
                 name="key" id="searchName" class="form-control medium" placeholder="Search Societies..." required>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="adv-table editable-table" id="main-container">
        <div class="clearfix">
          <div class="btn-group">
            <button *ngIf="userC?.role == 'ADMIN'" id="editable-sample_new" class="btn green" (click)="onOpenModal(null, 'add')">
              Add New <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <br>
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered" id="editable-sample">
            <thead>
            <tr>
              <th class="text-center">Object</th>
              <th class="text-center">Year</th>
              <th class="text-center">Qualification</th>
              <th class="text-center">description</th>
              <th class="text-center">To follow</th>
              <th class="text-center">Creation date</th>
              <th class="text-center">Tracability</th>
              <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody >
            <tr class="odd gradeX" *ngFor="let g of guide">
              <td class="text-center">{{g.objectif}}</td>
              <td class="text-center">{{g.annee}}</td>
              <td class="text-center">{{g.qualification}}</td>
              <td class="text-center">{{g.description}}</td>
              <td class="text-center">{{g.suivi}}</td>
              <td class="text-center" >{{g.creationDate| date: 'yyyy-MM-dd'}}</td>
              <td class="text-center">
                <a class="btn btn-warning btn-xs">{{g.tracability}}</a>
              </td>
              <td class="text-center">
<!--                <a routerLink="/home/features/guide-details/{{g.id}}" class="btn btn-info btn-xs"><i class="fa fa-home"></i></a>-->
                <button class="btn btn-primary btn-xs spaced-button" *ngIf="userC?.role == 'ADMIN'" ><i class="fa fa-pencil" (click)="onOpenModal(g, 'update')" data-original-title="Edit"></i></button>
                <button class="btn btn-danger btn-xs spaced-button" *ngIf="userC?.role == 'ADMIN'" ><i class="fa fa-trash-o " (click)="onDeleteGuide(g.id)"></i> </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
          <!-- Notification for no clients -->
          <div *ngIf="guide?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
            <div class="alert alert-info" role="alert">
              <h4 class="alert-heading">NO Guide!</h4>
              <p>No Prospection guide were found.</p>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- page end-->
</section>
<!-- add guide -->
<div class="col-lg-12" *ngIf="openModal">
  <div class="modal fade" id="addGuide" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dial" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #572AD7">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="margin-bottom:1px"><strong>Add Guide</strong></h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm">

            <div class="form-group">
              <label for="annee">Year*</label>
              <input type="text" formControlName="annee" name="annee" class="form-control" id="annee" placeholder="">
              <div *ngIf="(addForm.controls.annee.hasError('required') && addForm.controls.annee.touched) || submitted">
                <div class="error-message">Year is required </div></div>
            </div>
            <div class="form-group">
              <label for="objectif">Objectif*</label>
              <input type="text"  formControlName="objectif" name="objectif" class="form-control" id="objectif" placeholder="">
              <div *ngIf="(addForm.controls.objectif.hasError('required') && addForm.controls.objectif.touched) || submitted">
                <div class="error-message">Objectif is required </div></div>
            </div>

              <div class="form-group">
                <label for="qualification">Qualification*</label>
                <input type="text" formControlName="qualification" name="qualification" class="form-control" id="qualification" placeholder="">
                <div *ngIf="(addForm.controls.qualification.hasError('required') && addForm.controls.qualification.touched) || submitted">
                  <div class="error-message">qualification is required </div></div>
              </div>
              <div class="form-group">
                <label for="description">Description*</label>
                <input type="text"  formControlName="description" name="description" class="form-control" id="description" aria-describedby="emailHelp" placeholder="">
                <div *ngIf="(addForm.controls.description.hasError('required') && addForm.controls.description.touched) || submitted">
                  <div class="error-message">Description is required </div></div>
              </div>
              <div class="form-group">
                <label for="suivi">To follow*</label>
                <input type="text" formControlName="suivi" name="suivi" class="form-control" id="suivi" placeholder="">
                <div *ngIf="(addForm.controls.suivi.hasError('required') && addForm.controls.suivi.touched) || submitted">
                  <div class="error-message">Field is required </div></div>
              </div>
            <div class="modal-footer">
              <button type="button" id="" class="btn btn-secondary" data-dismiss="modal" style="float: right;padding: 8px 40px;font-size: 16px;">Cancel</button>
              <button type="submit"  class="btn green" (click)="add(addForm)" data-dismiss="modal" [disabled]="addForm.invalid" style="float: right;margin-right: 1%;padding: 8px 50px;font-size: 16px;">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- add user end-->
<!-- update user-->
<div class="col-lg-12" *ngIf="openModal">
  <div class="modal fade" id="updateGuideModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel" aria-hidden="true">
    <div class="modal-dial" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #572AD7">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="margin-bottom:1px"><strong>Update Guide</strong></h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm">

            <div class="form-group">
              <label for="annee">Year*</label>
              <input type="text" formControlName="annee" name="annee" class="form-control" id="annee" placeholder="">
              <div *ngIf="(editForm.controls.annee.hasError('required') && editForm.controls.annee.touched) || submitted">
                <div class="error-message">Year is required </div></div>
            </div>
            <div class="form-group">
              <label for="objectif">Objectif*</label>
              <input type="text"  formControlName="objectif" name="objectif" class="form-control" id="objectif" placeholder="">
              <div *ngIf="(editForm.controls.objectif.hasError('required') && editForm.controls.objectif.touched) || submitted">
                <div class="error-message">Objectif is required </div></div>
            </div>
            <div class="form-group">
              <label for="qualification">Qualification*</label>
              <input type="text" formControlName="qualification" name="qualification" class="form-control" id="qualification" placeholder="">
              <div *ngIf="(editForm.controls.qualification.hasError('required') && editForm.controls.qualification.touched) || submitted">
                <div class="error-message">qualification is required </div></div>
            </div>
            <div class="form-group">
              <label for="description">Description*</label>
              <input type="text" formControlName="description" name="description" class="form-control" id="description" aria-describedby="emailHelp" placeholder="">
              <div *ngIf="(editForm.controls.description.hasError('required') && editForm.controls.description.touched) || submitted">
                <div class="error-message">Description is required </div></div>
            </div>
            <div class="form-group">
              <label for="suivi">To follow*</label>
              <input type="text" formControlName="suivi" name="suivi" class="form-control" id="suivi" placeholder="">
              <div *ngIf="(editForm.controls.suivi.hasError('required') && editForm.controls.suivi.touched) || submitted">
                <div class="error-message">Field is required </div></div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-default" style="float: right;padding: 8px 40px;font-size: 16px;">Cancel</button>
              <button type="submit" data-dismiss="modal" (click)="onUpdateGuide(updateGuide?.id,editForm.value)" class="btn green" style="float: right;margin-right: 1%;padding: 8px 50px;font-size: 16px;">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- update user end-->



<!--<section class="wrapper site-min-height">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-12">-->
<!--      <section class="panel">-->
<!--        <div id="main-container">-->
<!--          <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--              &lt;!&ndash;                <div class="btn-group" class="col-lg-12" >&ndash;&gt;-->
<!--              &lt;!&ndash;                  <button id="editable-sample_new" class="btn green" style="margin-top:10px" (click)="onOpenModal(null, 'addProspect')">&ndash;&gt;-->
<!--              &lt;!&ndash;                    Add New <i class="fa fa-plus" ></i>&ndash;&gt;-->
<!--              &lt;!&ndash;                  </button>&ndash;&gt;-->
<!--              &lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="col-lg-12">-->
<!--              <div class="col-sm-3 pull-left"> <h2><strong>Prospection Guide</strong></h2></div>-->
<!--              <div class="dataTables_filter" id="editable-sample_filter">-->
<!--                <input type="search" aria-controls="editable-sample" (ngModelChange)="searchGuide(keys.value)" #keys="ngModel" ngModel-->
<!--                       name="key" id="searchName" class="form-control medium" placeholder="Search Guide..." required>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div style="margin-top:20px">-->
<!--            &lt;!&ndash;get guide&ndash;&gt;-->
<!--            <div class="col-lg-4" *ngFor="let guides of guide">-->
<!--              &lt;!&ndash;user info table start&ndash;&gt;-->
<!--              <section class="panel card" style="width:700px">-->
<!--                <div class="panel-body ">-->
<!--                  <div class="col-lg-1" style="margin-left: 57%;">-->
<!--                    <label class="label label-info label-mini client" style="border-radius: 10px; margin-left: 60%"></label>-->
<!--                  </div>-->
<!--                  <div class="task-thumb-details">-->
<!--                    <h2>Year<a style="padding-left:20px">{{guides?.annee}} </a></h2>-->
<!--                    &lt;!&ndash;<p style="padding-left:20px">Senior Architect</p>&ndash;&gt;-->
<!--                  </div>-->
<!--                </div>-->
<!--                <table class="table table-hover personal-task">-->
<!--                  <tbody>-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                      <i class=" fa fa-globe"></i>-->
<!--                    </td>-->
<!--                    <td><strong>Objectif: </strong><a>{{ guides?.objectif}}</a></td>-->
<!--                    <td></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                      <i class="fa fa-envelope"></i>-->
<!--                    </td>-->
<!--                    <td><strong>Qualification </strong>{{guides?.qualification}}</td>-->
<!--                    <td></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                      <i class="fa fa-phone"></i>-->
<!--                    </td>-->
<!--                    <td><strong>project informations: </strong>{{guides?.projectinfo}}</td>-->
<!--                    <td></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                      <i class=" fa fa-bell-o"></i>-->
<!--                    </td>-->
<!--                    <td><strong>Problematic: </strong>{{guides?.problematic}}</td>-->
<!--                    <td></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td></td>-->
<!--                    <td>-->
<!--                      <button class="btn btn-primary btn-xs" ><i class="fa fa-pencil" (click)="onOpenModal(guides, 'update')" data-original-title="Edit"></i></button>-->
<!--                      <button class="btn btn-danger btn-xs" ><i class="fa fa-trash-o " (click)="onDeleteGuide(guides.id)"></i> </button>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  </tbody>-->
<!--                </table>-->
<!--              </section>-->
<!--              &lt;!&ndash;user info table end&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Notification for no clients &ndash;&gt;-->
<!--          <div *ngIf="guide?.length == 0" class="col-lg-12 col-md-12 col-xl-12">-->
<!--            <div class="alert alert-info" role="alert">-->
<!--              <h4 class="alert-heading">NO Guide!</h4>-->
<!--              <p>No Prospection guide were found.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
<!--    </div>-->

<!--    &lt;!&ndash;pagination&ndash;&gt;-->
<!--    <div class="row">-->
<!--      <div class="pull-right">-->
<!--        <div class="col-lg-12" >-->
<!--          <div class="dataTables_paginate paging_bootstrap pagination">-->
<!--            &lt;!&ndash;            <ul>&ndash;&gt;-->
<!--            &lt;!&ndash;              <pagination-controls (pageChange)="p = ($event)"></pagination-controls>&ndash;&gt;-->
<!--            &lt;!&ndash;            </ul>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
