<section class="wrapper site-min-height">
  <!-- page start-->
  <section class="panel">
    <header class="panel-heading">
      Prospect List
    </header>
    <div class="panel-body">
      <div class="adv-table editable-table ">
        <div class="clearfix">
          <div class="btn-group">
            <button id="editable-sample_new" class="btn green">
              Add New <i class="fa fa-plus"></i>
            </button>


          </div>
        </div>
        <br>
        <div class="table-responsive">

          <table class="table table-striped table-hover table-bordered" id="editable-sample">
            <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">Society</th>
              <th class="text-center">Email</th>
              <th class="text-center">Web site</th>
              <th class="text-center">Phone</th>
              <th class="text-center">Status</th>
              <th class="text-center">Priority</th>
              <th class="text-center">Joining Date</th>
              <th class="text-center">Tracebility</th>
              <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd gradeX">
              <td class="text-center">
                <a routerLink="/home/manager/{}" class="btn btn-success btn-xs"><i class="fa  fa-plus-square"></i></a>
              </td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center">
                <a class="btn btn-warning btn-lg"></a>
              </td>
              <td class="text-center">
                <a routerLink="/home/manager/{}" class="btn btn-info btn-xs"><i class="fa fa-home"></i></a>
                <button class="btn btn-primary btn-xs spaced-button" type="submit"><i class="fa fa-pencil" ></i></button>
                <button class="btn btn-danger btn-xs  spaced-button" type="submit" ><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>
  <!-- page end-->
</section>
