<section class="wrapper site-min-height">
  <!-- page start-->
  <section class="panel">
    <header class="panel-heading">
      Prospect List
    </header>
    <div class="pull-right">
      <div class="col-lg-12">
        <div class="dataTables_filter" id="editable-sample_filter">
          <input type="search" aria-controls="editable-sample" (ngModelChange)="  searchSociety(keys.value)" #keys="ngModel" ngModel
                 name="key" id="searchName" class="form-control medium" placeholder="Search Societies..." required>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="adv-table editable-table ">
        <div class="row">
          <div class="col-lg-6">
          <div class="btn-group" class="col-lg-12">
            <button (click)="navigateTo('home/features/add-company')" id="editable-sample_new" class="btn green">
              Add New <i class="fa fa-plus"></i>
            </button>
          </div>
          </div>
        </div>
        <br>
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered" id="editable-sample">
            <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">Society</th>
              <th class="text-center">Email</th>
              <th class="text-center">Web site</th>
              <th class="text-center">Phone</th>
              <th class="text-center">Status</th>
              <th class="text-center">Priority</th>
              <th class="text-center">Joining Date</th>
              <th class="text-center">Tracebility</th>
              <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody >
            <tr class="odd gradeX" *ngFor="let e of society">
              <td class="text-center">
                <a routerLink="/home/manager/{}" class="btn btn-success btn-xs"><i class="fa  fa-plus-square"></i></a>
              </td>
              <td class="text-center">{{e.societyName}}</td>
              <td class="text-center">{{e.email}}</td>
              <td class="text-center">{{e.siteWeb}}</td>
              <td class="text-center">{{e.phoneSociety}}</td>
              <td class="text-center">
                <span [class]="e?.status === 'client' ? 'label label-info label-mini client' : 'label label-info label-mini prospect'">{{e?.status}}</span>
              </td>
              <td class="text-center">{{e.priority}}</td>
              <td class="text-center" >{{e.creationDate| date: 'yyyy-MM-dd'}}</td>
              <td class="text-center">
                <a class="btn btn-warning btn-xs">{{e.tracability}}</a>
              </td>
              <td class="text-center">
                <a routerLink="/home/features/society-details/{{e.id}}" class="btn btn-info btn-xs"><i class="fa fa-home"></i></a>
                <button class="btn btn-primary btn-xs spaced-button" type="submit">
                  <i routerLink="/home/features/edit-company/{{e.id}}" class="fa fa-pencil">
                   <!--  (click)="recuper(e.id,e.societyname, e.siteweb,e.phonesociety,e.faxsociety,
                      e.emailsociety,e.nbremployee,e.Priority,e.typesociety,e.firstname,e.lastname,e.fonction,e.Email,e.Phone,e.Social,e.Status)"--></i>
                </button>
                <button *ngIf="e.status === 'prospect' && userC?.role !== 'ADMIN'" class="btn btn-danger btn-xs  spaced-button" type="submit" (click)="onDeleteSociety(e.id)"><i class="fa fa-trash-o"></i></button>
                <button *ngIf="userC?.role == 'ADMIN'" class="btn btn-danger btn-xs  spaced-button" type="submit" (click)="onDeleteSociety(e.id)"><i class="fa fa-trash-o"></i></button>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- page end-->
</section>
<div *ngIf="society?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO SOCIETIES!</h4>
    <p>No SOCIETIES were found.</p>
  </div>
</div>
