

<section class="wrapper site-min-height">
  <!-- page start-->
  <section class="panel">
    <header class="panel-heading">
      All projects List
      <span class="pull-right">
                          <a href="#" class=" btn btn-success btn-xs"> Create New Project</a>
                      </span>
    </header>
    <div class="panel-body">
      <div class="row">

        <div class="col-md-12">
          <div class="input-group"><input type="text" placeholder="Search Here" class="input-sm form-control"> <span class="input-group-btn">
                              <button type="button" class="btn btn-sm btn-success"> Go!</button> </span></div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered" id="editable-sample">
        <thead>
        <tr>
          <th >Project Name</th>
          <th class="text-center">Team Member</th>
          <th class="text-center">Project Progress</th>
          <th class="text-center">Project Status</th>
          <th class="text-center" >Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let projects of project">
        <tr >
          <td class="p-name">
            <a href="project_details.html">{{projects.name}}</a>
            <br>
            <small>Created 27.11.2014</small>
          </td>
          <td class="p-team" >
            <a href="#"><img alt="image" class="" src="../../../assets/img/chat-avatar.jpg"></a>
            <a href="#"><img alt="image" class="" src="../../../assets/img/chat-avatar2.jpg"></a>
            <a href="#"><img alt="image" class="" src="../../../assets/img/pro-ac-1.png"></a>
          </td>
          <td class="p-progress">
            <div class="progress progress-xs">
              <div style="width: 87%;" class="progress-bar progress-bar-success"></div>
            </div>
            <small>87% Complete </small>
          </td>
          <td class="text-center">
            <span class="label label-primary">Active</span>
          </td>
          <td class="text-center">
            <a href="project_details.html" class="btn btn-primary btn-xs "><i class="fa fa-folder"></i> View </a>
            <a class="btn btn-info btn-xs  spaced-button"><i class="fa fa-pencil"></i> Edit </a>
            <a  class="btn btn-danger btn-xs  spaced-button" (click)="onDeleteProject(projects.id)"><i class="fa fa-trash-o"></i> Delete </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <!-- page end-->
</section>

