<section class="wrapper site-min-height">
  <!-- page start-->
  <div class="chat-room">
    <aside class="left-side">
      <div class="user-head">
        <i class="fa fa-comments-o"></i>
        <h3>FlatChat</h3>
      </div>
      <ul class="chat-list">
        <li class="active">
          <a class="lobby" href="lobby.html">
            <h4>
              <i class="fa fa-list"></i>
              Lobby
            </h4>
          </a>
        </li>
        <li>
          <a href="chat_room.html">
            <i class="fa fa-rocket"></i>
            <span>Marketing</span>
            <i class="fa fa-times pull-right"></i>
          </a>
        </li>
        <li>
          <a href="chat_room.html">
            <i class="fa fa-rocket"></i>
            <span>Water Cooler</span>
            <i class="fa fa-times pull-right"></i>
          </a>
        </li>
        <li>
          <a href="chat_room.html">
            <i class="fa fa-rocket"></i>
            <span>Design Lounge</span>
            <i class="fa fa-times pull-right"></i>
          </a>
        </li>
        <li>
          <a href="chat_room.html">
            <i class="fa fa-rocket"></i>
            <span>Development</span>
            <i class="fa fa-times pull-right"></i>
          </a>
        </li>

      </ul>
      <ul class="chat-list chat-user">

        <li>
          <a href="#">
            <i class="fa fa-circle text-success"></i>
            <span>Jonathan Smith</span>
            <i class="fa fa-times pull-right"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-circle text-success"></i>
            <span>Jhon Doe</span>
            <i class="fa fa-times pull-right"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-circle text-muted"></i>
            <span>Franklin kally</span>
            <i class="fa fa-times pull-right"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-circle text-danger"></i>
            <span>Anjelina Joe</span>
            <i class="fa fa-times pull-right"></i>
          </a>
        </li>

      </ul>
      <footer>
        <a class="chat-avatar" href="javascript:;">
          <img alt="" src="img/mail-avatar.jpg">
        </a>
        <div class="user-status">
          <i class="fa fa-circle text-success"></i>
          Available
        </div>
        <a class="chat-dropdown pull-right" href="javascript:;">
          <i class="fa fa-chevron-down"></i>
        </a>
      </footer>
    </aside>
    <aside class="mid-side">
      <div class="chat-room-head">
        <h3>Lobby</h3>
        <form action="#" class="pull-right position">
          <input type="text" placeholder="Search" class="form-control search-btn ">
        </form>
      </div>
      <div class="room-desk">
        <h4 class="pull-left">open room</h4>
        <a href="#" class="pull-right btn btn-default">+ Create Room</a>
        <div class="room-box">
          <h5 class="text-primary"><a href="chat_room.html">Marketing</a></h5>
          <p>Welcome to our world of marketing. Lorem ipsum dolor sit amet</p>
          <p><span class="text-muted">Admin :</span> Kally Brash | <span class="text-muted">Member :</span> 13 | <span class="text-muted">Last Activity :</span> 15 min ago</p>
        </div>
        <div class="room-box">
          <h5 class="text-primary"><a href="chat_room.html">Water Cooler</a></h5>
          <p>Welcome to our world of marketing. Lorem ipsum dolor sit amet</p>
          <p><span class="text-muted">Admin :</span> Kally Brash | <span class="text-muted">Member :</span> 13 | <span class="text-muted">Last Activity :</span> 15 min ago</p>
        </div>
        <div class="room-box">
          <h5 class="text-primary"><a href="chat_room.html">FlatLab</a></h5>
          <p>Welcome to our world of marketing. Lorem ipsum dolor sit amet</p>
          <p><span class="text-muted">Admin :</span> Kally Brash | <span class="text-muted">Member :</span> 13 | <span class="text-muted">Last Activity :</span> 15 min ago</p>
        </div>
      </div>
      <div class="room-desk">
        <h4 class="pull-left">private room</h4>
        <div class="room-box">
          <h5 class="text-primary"><a href="chat_room.html">Marketing</a></h5>
          <p>Welcome to our world of marketing. Lorem ipsum dolor sit amet</p>
          <p><span class="text-muted">Admin :</span> Kally Brash | <span class="text-muted">Member :</span> 13 | <span class="text-muted">Last Activity :</span> 15 min ago</p>
        </div>
        <div class="room-box">
          <h5 class="text-primary"><a href="chat_room.html">Water Cooler</a></h5>
          <p>Welcome to our world of marketing. Lorem ipsum dolor sit amet</p>
          <p><span class="text-muted">Admin :</span> Kally Brash | <span class="text-muted">Member :</span> 13 | <span class="text-muted">Last Activity :</span> 15 min ago</p>
        </div>
      </div>
    </aside>
    <aside class="right-side">
      <div class="user-head">
        <a href="#" class="chat-tools btn-key"><i class="fa fa-key"></i> </a>
      </div>
      <div class="invite-row">
        <h4 class="pull-left">Coworker</h4>
        <a href="#" class="btn btn-danger pull-right">+ Invite</a>
      </div>
      <ul class="chat-available-user">
        <li>
          <a href="chat_room.html">
            <i class="fa fa-circle text-success"></i>
            Jonathan Smith
            <span class="text-muted">3h:22m</span>
          </a>
        </li>
        <li>
          <a href="chat_room.html">
            <i class="fa fa-circle text-success"></i>
            Jhone Due
            <span class="text-muted">1h:2m</span>
          </a>
        </li>
        <li>
          <a href="chat_room.html">
            <i class="fa fa-circle text-success"></i>
            Franklyn Kalley
            <span class="text-muted">2h:32m</span>
          </a>
        </li>
        <li>
          <a href="chat_room.html">
            <i class="fa fa-circle text-danger"></i>
            Anjelina joe
            <span class="text-muted">3h:22m</span>
          </a>
        </li>
        <li>
          <a href="chat_room.html">
            <i class="fa fa-circle text-warning"></i>
            Aliace Stalvien
            <span class="text-muted">1h:12m</span>
          </a>
        </li>
        <li>
          <a href="chat_room.html">
            <i class="fa fa-circle text-muted"></i>
            Stive jones
            <!--<span class="text-muted">3h:22m</span>-->
          </a>
        </li>
        <li>
          <a href="chat_room.html">
            <i class="fa fa-circle text-muted"></i>
            Jonathan Smith
            <!--<span class="text-muted">3h:22m</span>-->
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <!-- page end-->
</section>












<section class="wrapper site-min-height">
  <!-- page start-->
  <section class="panel">
    <header class="panel-heading">
      Prospection Guide
    </header>
    <div class="pull-right">
      <div class="col-lg-12">
        <div class="dataTables_filter" id="editable-sample_filter" *ngIf="userC?.role == 'ADMIN'">
          <input type="search" aria-controls="editable-sample" (ngModelChange)="searchGuide(keys.value)" #keys="ngModel" ngModel
                 name="key" id="searchName" class="form-control medium" placeholder="Search Societies..." required>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="adv-table editable-table" id="main-container">
        <div class="clearfix">
          <div class="btn-group">
            <button *ngIf="userC?.role == 'ADMIN'" id="editable-sample_new" class="btn green" (click)="onOpenModal(null, 'add')">
              Add New <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <br>
        <div style="margin-top:20px;">
          <!--get guide-->
          <div class="col-lg-4" style="" *ngFor="let guides of guide">
            <!--user info table start-->
            <section class="panel card" style="width:700px; border: black solid 1px">
              <div class="panel-body ">
                <div class="col-lg-1" style="margin-left: 57%;">
                  <label class="label label-info label-mini client" style="border-radius: 10px; margin-left: 60%"></label>
                </div>
                <div class="task-thumb-details">
                  <h2>Year<a style="padding-left:20px">{{guides?.annee}} </a></h2>
                  <!--<p style="padding-left:20px">Senior Architect</p>-->
                </div>
              </div>
              <table class="table table-hover personal-task">
                <tbody>
                <tr>
                  <td>
                    <i class=" "></i>
                  </td>
                  <td><strong>Objectif: </strong><a>{{ guides?.objectif}}</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <i class=""></i>
                  </td>
                  <td><strong>Qualification: </strong>{{guides?.qualification}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <i class=""></i>
                  </td>
                  <td><strong>Description: </strong>{{guides?.description}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <i class=""></i>
                  </td>
                  <td><strong>suivi: </strong> {{guides?.problematic}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <i class=""></i>
                  </td>
                  <td><strong>Budget: </strong>{{guides?.budget}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <button class="btn btn-primary btn-xs" *ngIf="userC?.role == 'ADMIN'" ><i class="fa fa-pencil" (click)="onOpenModal(guides, 'update')" data-original-title="Edit"></i></button>
                    <button class="btn btn-danger btn-xs" *ngIf="userC?.role == 'ADMIN'" ><i class="fa fa-trash-o " (click)="onDeleteGuide(guides.id)"></i> </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </section>
            <!--user info table end-->
          </div>
        </div>
        <!-- Notification for no clients -->
        <div *ngIf="guide?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">NO Guide!</h4>
            <p>No Prospection guide were found.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page end-->
</section>
<!-- add guide -->
<div class="col-lg-12" *ngIf="openModal">
  <div class="modal fade" id="addGuide" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dial" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #572AD7">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="margin-bottom:1px"><strong>New Guide</strong></h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm" (ngSubmit)="add(addForm)">

            <div class="form-group">
              <label for="objectif">Objectif*</label>
              <input type="text"  formControlName="objectif" name="objectif" class="form-control" id="objectif" placeholder="">
              <div *ngIf="(addForm.controls.objectif.hasError('required') && addForm.controls.objectif.touched) || submitted">
                <div class="error-message">Objectif is required </div></div>
            </div>

            <div class="form-group">
              <label for="qualification">Qualification*</label>
              <input type="text"  formControlName="qualification" name="qualification" class="form-control" id="qualification" placeholder="">
              <div *ngIf="(addForm.controls.qualification.hasError('required') && addForm.controls.qualification.touched) || submitted">
                <div class="error-message">qualification is required </div></div>
            </div>
            <div class="form-group">
              <label for="projectinfo">Project info*</label>
              <input type="text"  formControlName="projectinfo" name="projectinfo" class="form-control" id="projectinfo" aria-describedby="emailHelp" placeholder="">
              <div *ngIf="(addForm.controls.projectinfo.hasError('required') && addForm.controls.projectinfo.touched) || submitted">
                <div class="error-message">projectinfo is required </div></div>
            </div>
            <div class="form-group">
              <label for="problematic">Problematic*</label>
              <input type="text"  formControlName="problematic" name="problematic" class="form-control" id="problematic" placeholder="">
              <div *ngIf="(addForm.controls.problematic.hasError('required') && addForm.controls.problematic.touched) || submitted">
                <div class="error-message">Problematic is required </div></div>
            </div>
            <div class="form-group">
              <label for="budget">Budget*</label>
              <input type="text"  formControlName="budget" name="budget" class="form-control" id="budget" placeholder="">
              <div *ngIf="(addForm.controls.budget.hasError('required') && addForm.controls.budget.touched) || submitted">
                <div class="error-message">budget is required </div></div>
            </div>

            <div class="modal-footer">
              <button type="button" id="" class="btn btn-secondary" data-dismiss="modal" style="float: right;padding: 8px 40px;font-size: 16px;">Cancel</button>
              <button type="submit"  class="btn green" [disabled]="addForm.invalid" style="float: right;margin-right: 1%;padding: 8px 50px;font-size: 16px;">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- add user end-->
update user
<div class="col-lg-12" *ngIf="openModal">
  <div class="modal fade" id="updateGuideModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel" aria-hidden="true">
    <div class="modal-dial" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #572AD7">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="margin-bottom:1px"><strong>Update Guide</strong></h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm">

            <div class="form-group">
              <label for="objectif">Objectif*</label>
              <input type="text"  formControlName="objectif" name="objectif" class="form-control" id="objectif" placeholder="">
              <div *ngIf="(editForm.controls.objectif.hasError('required') && editForm.controls.objectif.touched) || submitted">
                <div class="error-message">Objectif is required </div></div>
            </div>

            <div class="form-group">
              <label for="qualification">Qualification*</label>
              <input type="text"  formControlName="qualification" name="qualification" class="form-control" id="qualification" placeholder="">
              <div *ngIf="(editForm.controls.qualification.hasError('required') && editForm.controls.qualification.touched) || submitted">
                <div class="error-message">qualification is required </div></div>
            </div>
            <div class="form-group">
              <label for="projectinfo">Project info*</label>
              <input type="text"  formControlName="projectinfo" name="projectinfo" class="form-control" id="projectinfo" aria-describedby="emailHelp" placeholder="">
              <div *ngIf="(editForm.controls.projectinfo.hasError('required') && editForm.controls.projectinfo.touched) || submitted">
                <div class="error-message">projectinfo is required </div></div>
            </div>
            <div class="form-group">
              <label for="problematic">Problematic*</label>
              <input type="text"  formControlName="problematic" name="problematic" class="form-control" id="problematic" placeholder="">
              <div *ngIf="(editForm.controls.problematic.hasError('required') && editForm.controls.problematic.touched) || submitted">
                <div class="error-message">Problematic is required </div></div>
            </div>
            <div class="form-group">
              <label for="budget">Budget*</label>
              <input type="text"  formControlName="budget" name="budget" class="form-control" id="budget" placeholder="">
              <div *ngIf="(editForm.controls.budget.hasError('required') && editForm.controls.budget.touched) || submitted">
                <div class="error-message">budget is required </div></div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-default" style="float: right;padding: 8px 40px;font-size: 16px;">Cancel</button>
              <button type="submit" data-dismiss="modal" (click)="onUpdateGuide(updateGuide?.id,editForm.value)" class="btn green" style="float: right;margin-right: 1%;padding: 8px 50px;font-size: 16px;">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- update user end-->



<!--<section class="wrapper site-min-height">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-12">-->
<!--      <section class="panel">-->
<!--        <div id="main-container">-->
<!--          <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--              &lt;!&ndash;                <div class="btn-group" class="col-lg-12" >&ndash;&gt;-->
<!--              &lt;!&ndash;                  <button id="editable-sample_new" class="btn green" style="margin-top:10px" (click)="onOpenModal(null, 'addProspect')">&ndash;&gt;-->
<!--              &lt;!&ndash;                    Add New <i class="fa fa-plus" ></i>&ndash;&gt;-->
<!--              &lt;!&ndash;                  </button>&ndash;&gt;-->
<!--              &lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="col-lg-12">-->
<!--              <div class="col-sm-3 pull-left"> <h2><strong>Prospection Guide</strong></h2></div>-->
<!--              <div class="dataTables_filter" id="editable-sample_filter">-->
<!--                <input type="search" aria-controls="editable-sample" (ngModelChange)="searchGuide(keys.value)" #keys="ngModel" ngModel-->
<!--                       name="key" id="searchName" class="form-control medium" placeholder="Search Guide..." required>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div style="margin-top:20px">-->
<!--            &lt;!&ndash;get guide&ndash;&gt;-->
<!--            <div class="col-lg-4" *ngFor="let guides of guide">-->
<!--              &lt;!&ndash;user info table start&ndash;&gt;-->
<!--              <section class="panel card" style="width:700px">-->
<!--                <div class="panel-body ">-->
<!--                  <div class="col-lg-1" style="margin-left: 57%;">-->
<!--                    <label class="label label-info label-mini client" style="border-radius: 10px; margin-left: 60%"></label>-->
<!--                  </div>-->
<!--                  <div class="task-thumb-details">-->
<!--                    <h2>Year<a style="padding-left:20px">{{guides?.annee}} </a></h2>-->
<!--                    &lt;!&ndash;<p style="padding-left:20px">Senior Architect</p>&ndash;&gt;-->
<!--                  </div>-->
<!--                </div>-->
<!--                <table class="table table-hover personal-task">-->
<!--                  <tbody>-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                      <i class=" fa fa-globe"></i>-->
<!--                    </td>-->
<!--                    <td><strong>Objectif: </strong><a>{{ guides?.objectif}}</a></td>-->
<!--                    <td></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                      <i class="fa fa-envelope"></i>-->
<!--                    </td>-->
<!--                    <td><strong>Qualification </strong>{{guides?.qualification}}</td>-->
<!--                    <td></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                      <i class="fa fa-phone"></i>-->
<!--                    </td>-->
<!--                    <td><strong>project informations: </strong>{{guides?.projectinfo}}</td>-->
<!--                    <td></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td>-->
<!--                      <i class=" fa fa-bell-o"></i>-->
<!--                    </td>-->
<!--                    <td><strong>Problematic: </strong>{{guides?.problematic}}</td>-->
<!--                    <td></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td></td>-->
<!--                    <td>-->
<!--                      <button class="btn btn-primary btn-xs" ><i class="fa fa-pencil" (click)="onOpenModal(guides, 'update')" data-original-title="Edit"></i></button>-->
<!--                      <button class="btn btn-danger btn-xs" ><i class="fa fa-trash-o " (click)="onDeleteGuide(guides.id)"></i> </button>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  </tbody>-->
<!--                </table>-->
<!--              </section>-->
<!--              &lt;!&ndash;user info table end&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Notification for no clients &ndash;&gt;-->
<!--          <div *ngIf="guide?.length == 0" class="col-lg-12 col-md-12 col-xl-12">-->
<!--            <div class="alert alert-info" role="alert">-->
<!--              <h4 class="alert-heading">NO Guide!</h4>-->
<!--              <p>No Prospection guide were found.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
<!--    </div>-->

<!--    &lt;!&ndash;pagination&ndash;&gt;-->
<!--    <div class="row">-->
<!--      <div class="pull-right">-->
<!--        <div class="col-lg-12" >-->
<!--          <div class="dataTables_paginate paging_bootstrap pagination">-->
<!--            &lt;!&ndash;            <ul>&ndash;&gt;-->
<!--            &lt;!&ndash;              <pagination-controls (pageChange)="p = ($event)"></pagination-controls>&ndash;&gt;-->
<!--            &lt;!&ndash;            </ul>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
















<!--guiiiiiiiiiiiiide-->


<section class="wrapper site-min-height">
  <!-- page start-->
  <section class="panel">
    <header class="panel-heading">
      Prospection Guide
    </header>
    <div class="pull-right">
      <div class="col-lg-12">
        <div class="dataTables_filter" id="editable-sample_filter" *ngIf="userC?.role == 'ADMIN'">
          <input type="search" aria-controls="editable-sample" (ngModelChange)="searchGuide(keys.value)" #keys="ngModel" ngModel
                 name="key" id="searchName" class="form-control medium" placeholder="Search Societies..." required>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="adv-table editable-table" id="main-container">
        <div class="clearfix">
          <div class="btn-group">
            <button *ngIf="userC?.role == 'ADMIN'" id="editable-sample_new" class="btn green" (click)="onOpenModal(null, 'add')">
              Add New <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <br>
        <div style="margin-top:20px;">
          <!--get guide-->
          <div class="col-lg-4" style="" *ngFor="let guides of guide">
            <!--user info table start-->
            <section class="panel card" style="width:700px; border: black solid 1px">
              <div class="panel-body ">
                <div class="col-lg-1" style="margin-left: 57%;">
                  <label class="label label-info label-mini client" style="border-radius: 10px; margin-left: 60%"></label>
                </div>
                <div class="task-thumb-details">
                  <h2>Year<a style="padding-left:20px">{{guides?.annee}} </a></h2>
                  <!--<p style="padding-left:20px">Senior Architect</p>-->
                </div>
              </div>
              <table class="table table-hover personal-task">
                <tbody>
                <tr>
                  <td>
                    <i class=" "></i>
                  </td>
                  <td><strong>Objectif: </strong><a>{{ guides?.objectif}}</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <i class=""></i>
                  </td>
                  <td><strong>Qualification: </strong>{{guides?.qualification}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <i class=""></i>
                  </td>
                  <td><strong>Description: </strong>{{guides?.description}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <i class=""></i>
                  </td>
                  <td><strong>suivi: </strong> {{guides?.problematic}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <i class=""></i>
                  </td>
                  <td><strong>Budget: </strong>{{guides?.budget}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <button class="btn btn-primary btn-xs" *ngIf="userC?.role == 'ADMIN'" ><i class="fa fa-pencil" (click)="onOpenModal(guides, 'update')" data-original-title="Edit"></i></button>
                    <button class="btn btn-danger btn-xs" *ngIf="userC?.role == 'ADMIN'" ><i class="fa fa-trash-o " (click)="onDeleteGuide(guides.id)"></i> </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </section>
            <!--user info table end-->
          </div>
        </div>
        <!-- Notification for no clients -->
        <div *ngIf="guide?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">NO Guide!</h4>
            <p>No Prospection guide were found.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page end-->
</section>
<!-- add guide -->
<div class="col-lg-12" *ngIf="openModal">
  <div class="modal fade" id="addGuide" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
    <div class="modal-dial" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #572AD7">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="margin-bottom:1px"><strong>New Guide</strong></h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm" (ngSubmit)="add(addForm)">

            <div class="form-group">
              <label for="objectif">Objectif*</label>
              <input type="text"  formControlName="objectif" name="objectif" class="form-control" id="objectif" placeholder="">
              <div *ngIf="(addForm.controls.objectif.hasError('required') && addForm.controls.objectif.touched) || submitted">
                <div class="error-message">Objectif is required </div></div>
            </div>

            <div class="form-group">
              <label for="qualification">Qualification*</label>
              <input type="text"  formControlName="qualification" name="qualification" class="form-control" id="qualification" placeholder="">
              <div *ngIf="(addForm.controls.qualification.hasError('required') && addForm.controls.qualification.touched) || submitted">
                <div class="error-message">qualification is required </div></div>
            </div>
            <div class="form-group">
              <label for="projectinfo">Project info*</label>
              <input type="text"  formControlName="projectinfo" name="projectinfo" class="form-control" id="projectinfo" aria-describedby="emailHelp" placeholder="">
              <div *ngIf="(addForm.controls.projectinfo.hasError('required') && addForm.controls.projectinfo.touched) || submitted">
                <div class="error-message">projectinfo is required </div></div>
            </div>
            <div class="form-group">
              <label for="problematic">Problematic*</label>
              <input type="text"  formControlName="problematic" name="problematic" class="form-control" id="problematic" placeholder="">
              <div *ngIf="(addForm.controls.problematic.hasError('required') && addForm.controls.problematic.touched) || submitted">
                <div class="error-message">Problematic is required </div></div>
            </div>
            <div class="form-group">
              <label for="budget">Budget*</label>
              <input type="text"  formControlName="budget" name="budget" class="form-control" id="budget" placeholder="">
              <div *ngIf="(addForm.controls.budget.hasError('required') && addForm.controls.budget.touched) || submitted">
                <div class="error-message">budget is required </div></div>
            </div>

            <div class="modal-footer">
              <button type="button" id="" class="btn btn-secondary" data-dismiss="modal" style="float: right;padding: 8px 40px;font-size: 16px;">Cancel</button>
              <button type="submit"  class="btn green" [disabled]="addForm.invalid" style="float: right;margin-right: 1%;padding: 8px 50px;font-size: 16px;">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- add user end-->
update user
<div class="col-lg-12" *ngIf="openModal">
  <div class="modal fade" id="updateGuideModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel" aria-hidden="true">
    <div class="modal-dial" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #572AD7">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="margin-bottom:1px"><strong>Update Guide</strong></h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm">

            <div class="form-group">
              <label for="objectif">Objectif*</label>
              <input type="text"  formControlName="objectif" name="objectif" class="form-control" id="objectif" placeholder="">
              <div *ngIf="(editForm.controls.objectif.hasError('required') && editForm.controls.objectif.touched) || submitted">
                <div class="error-message">Objectif is required </div></div>
            </div>

            <div class="form-group">
              <label for="qualification">Qualification*</label>
              <input type="text"  formControlName="qualification" name="qualification" class="form-control" id="qualification" placeholder="">
              <div *ngIf="(editForm.controls.qualification.hasError('required') && editForm.controls.qualification.touched) || submitted">
                <div class="error-message">qualification is required </div></div>
            </div>
            <div class="form-group">
              <label for="projectinfo">Project info*</label>
              <input type="text"  formControlName="projectinfo" name="projectinfo" class="form-control" id="projectinfo" aria-describedby="emailHelp" placeholder="">
              <div *ngIf="(editForm.controls.projectinfo.hasError('required') && editForm.controls.projectinfo.touched) || submitted">
                <div class="error-message">projectinfo is required </div></div>
            </div>
            <div class="form-group">
              <label for="problematic">Problematic*</label>
              <input type="text"  formControlName="problematic" name="problematic" class="form-control" id="problematic" placeholder="">
              <div *ngIf="(editForm.controls.problematic.hasError('required') && editForm.controls.problematic.touched) || submitted">
                <div class="error-message">Problematic is required </div></div>
            </div>
            <div class="form-group">
              <label for="budget">Budget*</label>
              <input type="text"  formControlName="budget" name="budget" class="form-control" id="budget" placeholder="">
              <div *ngIf="(editForm.controls.budget.hasError('required') && editForm.controls.budget.touched) || submitted">
                <div class="error-message">budget is required </div></div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-default" style="float: right;padding: 8px 40px;font-size: 16px;">Cancel</button>
              <button type="submit" data-dismiss="modal" (click)="onUpdateGuide(updateGuide?.id,editForm.value)" class="btn green" style="float: right;margin-right: 1%;padding: 8px 50px;font-size: 16px;">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- update user end-->



<section class="wrapper site-min-height">
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <div id="main-container">
          <div class="row">
            <div class="col-lg-6">
              <!--                <div class="btn-group" class="col-lg-12" >-->
              <!--                  <button id="editable-sample_new" class="btn green" style="margin-top:10px" (click)="onOpenModal(null, 'addProspect')">-->
              <!--                    Add New <i class="fa fa-plus" ></i>-->
              <!--                  </button>-->
              <!--                </div>-->
            </div>
            <div class="col-lg-12">
              <div class="col-sm-3 pull-left"> <h2><strong>Prospection Guide</strong></h2></div>
              <div class="dataTables_filter" id="editable-sample_filter">
                <input type="search" aria-controls="editable-sample" (ngModelChange)="searchGuide(keys.value)" #keys="ngModel" ngModel
                       name="key" id="searchName" class="form-control medium" placeholder="Search Guide..." required>
              </div>
            </div>
          </div>
          <div style="margin-top:20px">
            <!--get guide-->
            <div class="col-lg-4" *ngFor="let guides of guide">
              <!--user info table start-->
              <section class="panel card" style="width:700px">
                <div class="panel-body ">
                  <div class="col-lg-1" style="margin-left: 57%;">
                    <label class="label label-info label-mini client" style="border-radius: 10px; margin-left: 60%"></label>
                  </div>
                  <div class="task-thumb-details">
                    <h2>Year<a style="padding-left:20px">{{guides?.annee}} </a></h2>
                    <!--<p style="padding-left:20px">Senior Architect</p>-->
                  </div>
                </div>
                <table class="table table-hover personal-task">
                  <tbody>
                  <tr>
                    <td>
                      <i class=" fa fa-globe"></i>
                    </td>
                    <td><strong>Objectif: </strong><a>{{ guides?.objectif}}</a></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-envelope"></i>
                    </td>
                    <td><strong>Qualification </strong>{{guides?.qualification}}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-phone"></i>
                    </td>
                    <td><strong>project informations: </strong>{{guides?.projectinfo}}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <i class=" fa fa-bell-o"></i>
                    </td>
                    <td><strong>Problematic: </strong>{{guides?.problematic}}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <button class="btn btn-primary btn-xs" ><i class="fa fa-pencil" (click)="onOpenModal(guides, 'update')" data-original-title="Edit"></i></button>
                      <button class="btn btn-danger btn-xs" ><i class="fa fa-trash-o " (click)="onDeleteGuide(guides.id)"></i> </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </section>
              <!--user info table end-->
            </div>
          </div>
          <!-- Notification for no clients -->
          <div *ngIf="guide?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
            <div class="alert alert-info" role="alert">
              <h4 class="alert-heading">NO Guide!</h4>
              <p>No Prospection guide were found.</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!--pagination-->
    <div class="row">
      <div class="pull-right">
        <div class="col-lg-12" >
          <div class="dataTables_paginate paging_bootstrap pagination">
            <!--            <ul>-->
            <!--              <pagination-controls (pageChange)="p = ($event)"></pagination-controls>-->
            <!--            </ul>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




































<!--<section class="wrapper site-min-height">-->
<!--  &lt;!&ndash; page start&ndash;&gt;-->

<!--  <div class="chat-room ">-->
<!--    <aside class="left-side">-->
<!--      <div class="user-head">-->
<!--        <h3><strong>{{society?.societyName}}</strong></h3>-->
<!--      </div>-->
<!--      <ul class="chat-list" >-->
<!--        <li>-->
<!--          <a class="lobby" (click)="toggleFormVisibility()" >-->
<!--            <h4>-->
<!--              <i class="fa fa-list"></i>-->
<!--              Society informations-->
<!--            </h4>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="lobby">-->
<!--            <h4>-->
<!--              <i class="fa fa-list"></i>-->
<!--              <span>Project informations</span>-->
<!--            </h4>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="lobby">-->
<!--            <h4>-->
<!--              <i class="fa fa-list"></i>-->
<!--              <span>Task informations</span>-->
<!--              <i class="fa pull-right"></i>-->
<!--            </h4>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <footer>-->
<!--        <a class="chat-avatar" href="javascript:;">-->
<!--          <img alt="" src="assets/img/file-search/ai.png" style="margin-right: 10px; ">-->
<!--        </a>-->
<!--        <div class="user-status">-->
<!--          <label class="label label-info label-mini society" style="border-radius: 10px; margin-left: 105%;">-->
<!--            society-->
<!--          </label>-->
<!--          <label  [class]="society?.status === 'client' ? 'label label-info label-mini client' : 'label label-info label-mini prospect'" style="border-radius: 10px; margin-left: 5px;">-->
<!--            {{ society?.status }}-->
<!--          </label>-->
<!--        </div>-->
<!--      </footer>-->
<!--    </aside>-->

<!--    <aside class="mid-side">-->
<!--      <div class="chat-room-head" style="height:5%;">-->
<!--        <h3>Details</h3>-->
<!--        &lt;!&ndash;          <form action="#" class="pull-right position">&ndash;&gt;-->
<!--        &lt;!&ndash;            <input type="text" placeholder="Search" class="form-control search-btn ">&ndash;&gt;-->
<!--        &lt;!&ndash;          </form>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="col-lg-8" style="padding-top:10px;">-->
<!--        <div class="row" >-->
<!--          <div class="col-lg-11">-->
<!--            &lt;!&ndash;widget start&ndash;&gt;-->
<!--            <section class="panel" >-->
<!--              <header class="panel-heading tab-bg-dark-navy-blue ">-->
<!--                <ul class="nav nav-tabs" style=" border: 1px solid black;">-->
<!--                  <li class="active" style=" border-bottom: 1px solid #3a495b;">-->
<!--                    <a href="#popular" data-toggle="tab">-->
<!--                      Society informations-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <a href="#project" data-toggle="tab">-->
<!--                      Project-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a href="#tasks" data-toggle="tab">-->
<!--                      Tasks-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </header>-->
<!--              <div class="panel-body">-->
<!--                <div class="tab-content tasi-tab">-->
<!--                  <div class="tab-pane active" id="popular" >-->
<!--                    <form class="form-horizontal" id="default" action="#" style="border: 1px solid lightgrey; padding: 20px; margin: 20px; width: 500px">-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Society name: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{society?.societyName}}</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Site Web:</strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{society?.siteWeb}}</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Phone: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{society?.phoneSociety}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Email: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{society?.emailSociety}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Society type: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{society?.typeSociety}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </form>-->
<!--                  </div>-->
<!--                  <div class="tab-pane" id="project">-->
<!--                    <form class="form-horizontal" id="default" action="#" style="border: 1px solid lightgrey; padding: 20px; margin: 20px; width: 500px"  *ngFor="let projet of society.projets">-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Project name: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{projet?.name}}</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Start date: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{projet?.date_debut}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>End date: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{projet?.date_fin}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Budget: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{projet?.budget}}</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Status: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{projet?.status}}</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </form>-->
<!--                  </div>-->
<!--                  <div class="tab-pane " id="tasks">-->
<!--                    <form class="form-horizontal" id="default" action="#" style="border: 1px solid lightgrey; padding: 20px; margin: 20px; width: 500px"  *ngFor="let tache of society.tacheS">-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Label: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{tache.label}}</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Collaborateurs: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{tache?.collaborateurs}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Date: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{tache?.date}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Time:</strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{tache?.times}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Contact: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{tache?.contact}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>Title: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{tache?.titre}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="form-group" >-->
<!--                        <div class="col-lg-4 control-label"><strong>State: </strong></div>-->
<!--                        <div class="col-lg-6">-->
<!--                          <p class="form-control-static">{{tache?.etat}} </p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </form>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </section>-->
<!--            &lt;!&ndash;widget end&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </aside>-->
<!--    <aside class="right-side">-->
<!--      <div class="user-head">-->
<!--        <h3>Contact</h3>-->
<!--      </div>-->
<!--      <div class="invite-row">-->
<!--        <h4 class="pull-left">{{society?.lastName}} {{society?.firstName}} </h4>-->
<!--      </div>-->
<!--      <ul class="chat-available-user">-->
<!--        <li>-->
<!--          <div>-->
<!--            <i class="fa fa-circle text-success"></i>-->
<!--            {{society?.function}}-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div>-->
<!--            <i class="fa fa-envelope"></i>-->
<!--            {{society?.email}}-->
<!--            &lt;!&ndash;                    <span class="text-muted">3h:22m</span>&ndash;&gt;-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div>-->
<!--            <i class="fa fa-phone"></i>-->
<!--            {{society?.phone}}-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <footer>-->
<!--        <a href="#" class="guest-on">-->
<!--          <i class="fa fa-check"></i>-->
<!--          Guest Access On-->
<!--        </a>-->
<!--      </footer>-->
<!--    </aside>-->
<!--  </div>-->

<!--  &lt;!&ndash; page end&ndash;&gt;-->
<!--</section>-->

