<section id="container">
  <!--header start-->
  <app-topbar></app-topbar>
  <!--header end-->
  <!--sidebar start-->
  <aside >

    <!-- sidebar menu start-->
    <app-sidebar></app-sidebar>
    <!-- sidebar menu end-->
  </aside>
  <!--sidebar end-->
  <!--main content start-->
  <section id="main-content">
    <router-outlet></router-outlet>
  </section>
  <!--main content end-->

  <!-- Right Slidebar start -->

  <!-- Right Slidebar end -->

  <!--footer start-->
  <app-footer></app-footer>
  <!--footer end-->
</section>


